* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@mixin border-padding-otline {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: .5rem;
    background-color: white;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: rgba(167, 145, 85, 0.3);
}

.container {
    flex-direction: column;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    padding-bottom: 20px;
}

.input {
    @include border-padding-otline;
}

.select {
    margin-top: 20px;
    @include border-padding-otline;
}

.btn {
    cursor: pointer;
    margin-left: 20px;
    @include border-padding-otline;
    border: 1px solid rgba(167, 145, 85, 0.8);
}

.case_container {
    margin-top: 10px;
}

.case_box {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.case_checkbox {
    width: 15px;
    height: 15px;
    margin-right: 20px;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 50px;
}

.checked {
    background-color: green;
}

.strike {
    text-decoration: line-through;
}

.btn_delete {
    padding-left: 20px;
    margin-left: 20px;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: red;
}

.hide {
    display: none;
}

.case-find {
    background-color: inherit;
}